FolderList.Xml/RootItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="RootItem" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- xsd.exe RootItem.xsd /c /l:cs /f /n:DoenaSoft.FolderList.Xml -->
	
	<xs:element name="RootItem" type="RootItem" />

	<xs:complexType name="RootItem">
		<xs:sequence>
			<xs:element name="Item" type="SubItem" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="SubItem">
		<xs:sequence>
			<xs:element name="Item" type="SubItem" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="FullPath" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="LastWriteTime" type="xs:dateTime" use="optional"/>
	</xs:complexType>
</xs:schema>